{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 7
  },
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
  },
  "globals": {
      'allEnemies',
      'bullets',
      'player',
      'Enemy',
      'Resources',
      'ctx',
      'gameStatus'
  },
  "rules": {
    "quotes": [
      1,
      "single"
    ],
    "linebreak-style": [
      1,
      "unix"
    ],
    "semi": [
      1,
      "always"
    ],
    "no-redeclare": [
      0
    ]
  },
}
